PUBLIC_API_BASE_URL="https://pixel-back.vercel.app/api/v1"
PUBLIC_FRONTEND_AUTH_TOKEN="change-this-frontend-auth-token"
PUBLIC_GOOGLE_CLIENT_ID="152494954735-rd2c9hlmafjo0pcsmi37rb3382lscoip.apps.googleusercontent.com"
PUBLIC_DEFAULT_IS_ADMIN="true"
