PUBLIC_API_BASE_URL="http://127.0.0.1:8001"
PUBLIC_FRONTEND_AUTH_TOKEN="change-this-frontend-auth-token"
PUBLIC_GOOGLE_CLIENT_ID="tu-google-client-id.apps.googleusercontent.com"
PUBLIC_DEFAULT_IS_ADMIN="false"
