VITE_API_BASE_URL="http://127.0.0.1:8000/api/v1"
VITE_FRONTEND_AUTH_TOKEN="change-this-frontend-auth-token"
VITE_GOOGLE_CLIENT_ID="152494954735-rd2c9hlmafjo0pcsmi37rb3382lscoip.apps.googleusercontent.com"
